:root {
    background: linear-gradient(125deg, rgb(0, 0, 0), rgb(24, 24, 54));
}
#microphone, #microphone-muted, #speaker, #speaker-muted {
    width: 42px;
    height: 42px;
    padding: 1%;
    border: 1px solid #000;
    background: #fff;
    border-radius: 50%;
}
#textarea {
    background: linear-gradient(45deg, lightblue, lightgreen);
    padding: 2%;
    border-radius: 10px;
    font-size: 1.25em;
    width: 500px;
}
#flex-parent {  
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.flex-element {
    margin: 5%;
}
