:root {
    background: linear-gradient(125deg, rgb(0, 0, 0), rgb(24, 24, 54));
}
#microphone, #microphone-muted, #speaker, #speaker-muted {
    width: 42px;
    height: 42px;
    padding: 1%;
    border: 1px solid #000;
    background: #fff;
    border-radius: 50%;
}
#textarea {
    background: linear-gradient(45deg, lightblue, lightgreen);
    padding: 2%;
    border-radius: 10px;
    font-size: 1.25em;
    width: 500px;
    margin-top: 45px;
    max-height: 80vh;
    overflow-y: scroll;
}
#flex-parent {  
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#reset {
    width: 200px;
    font-size: 1.25em;
    padding: 3% 2%;     
    margin: 1%;
    border: 3px solid yellow;
    color: yellow;
    background: rgb(32, 32, 32);
    border-radius: 5px;
}
#reset:hover {
    cursor: pointer;
    background: rgb(54, 54, 134);
}
#center {
    text-align: center;
}
.flex-element {
    margin: 5%;
}

@media screen and (max-width: 800px) {
    #flex-parent {  
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    #textarea {
        width: 95%;
    }
}