:root {
    background-color: #0c0513;
    background-image: url('pre.svg');
}
#microphone, #microphone-muted, #speaker, #speaker-muted {
   
    width:  200pxpx;
    height: 42px;
    padding: 1%;
    border: 1px solid  rgb(36, 26, 57);
    background: rgb(230, 219, 255);
    border-radius: 10px;

}


#textarea {
    background: #e2d4e9;
    padding: 2%;
    border-radius: 8px;
    font-size: 1.25em;
    width: 90vh;
    height: 700px;
    text-align: left;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-right: 45px;
    overflow-y: scroll;
}
#flex-parent {  
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#flex {  
    display: flex;
    
}
#reset {
    width: 200px;
    padding: 2% 2%;
    margin: 10px;
    font-size: 1.25em;
    border: 3px solid rgb(196, 0, 222);
    color: rgb(196, 0, 222);
    background: rgb(230, 219, 255);
    border-radius: 5px;
}
#reset:hover {
    cursor: pointer;
    background: rgb(54, 54, 134);
}
#center {
    text-align: center;
}
.flex-element {
    margin: 5%;
}

@media screen and (max-width: 800px) {
    #flex-parent {  
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    #textarea {
        width: 95%;
    }
}